In [1]:
import pandas as pd
import numpy as np
import requests, json
import time

In [2]:
df = pd.read_csv('D:/공공데이터일경험수련생(9월)/data/raw/은행점포현황/2022년_6월말.csv',encoding='CP949')

In [3]:
df = df.iloc[:,0:16]
df.head()

,은행명(1),지로코드(2),점포명(3),지점/출장소(4),점포형태(대)(5),점포형태(소)(6),모점명(7),영업본부(8),특/광/도(9),구/시/군(10),구/읍/면/동(11),말단행정구역(12),건물번호 등(13),도로명(14),개점일(15),전화번호(16)
0,산업은행,0027025,강남,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,대치동,NaN,947-3,영동대로 421,1992-08-24,02-560-0300
1,산업은행,0027054,도곡,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,도곡동,NaN,467-7,남부순환로 2803,2005-05-30,02-3498-3800
2,산업은행,0027083,반포,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,반포동,NaN,18-3,반포대로 287,2011-01-24,02-3488-8500
3,산업은행,0027041,서초,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,서초동,NaN,1319-6,서초대로78길 5,1996-04-29,02-3488-7500
4,산업은행,0023113,압구정,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,신사동,NaN,611,논현로 878,1986-11-12,02-3218-0900

In [4]:
df.columns
df.columns =['은행명', '지로코드', '점포명', '지점/출장소', '점포형태(대)', ' 점포형태(소)',
       '모점명', '영업본부', '특/광/도', '구/시/군', '구/읍/면/동',
       '말단행정구역', '건물번호 등', '도로명', '개점일', '전화번호']
#for i in range(len(df)):
df.head()

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호
0,산업은행,0027025,강남,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,대치동,NaN,947-3,영동대로 421,1992-08-24,02-560-0300
1,산업은행,0027054,도곡,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,도곡동,NaN,467-7,남부순환로 2803,2005-05-30,02-3498-3800
2,산업은행,0027083,반포,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,반포동,NaN,18-3,반포대로 287,2011-01-24,02-3488-8500
3,산업은행,0027041,서초,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,서초동,NaN,1319-6,서초대로78길 5,1996-04-29,02-3488-7500
4,산업은행,0023113,압구정,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,신사동,NaN,611,논현로 878,1986-11-12,02-3218-0900

In [5]:
#df.loc[df['특/광/도'] == '서울특별시'] = '서울'

df = df.replace({'특/광/도' : '서울'}, '서울특별시')
df = df.replace({'특/광/도' : '대구'}, '대구광역시')
df = df.replace({'특/광/도' : '울산'}, '울산광역시')
df = df.replace({'특/광/도' : '부산'}, '부산광역시')
df = df.replace({'특/광/도' : '인천'}, '인천광역시')
df = df.replace({'특/광/도' : '충남'}, '충청남도')
df = df.replace({'특/광/도' : '경북'}, '경상북도')
df = df.replace({'특/광/도' : '경남'}, '경상남도')
df = df.replace({'특/광/도' : '대전'}, '대전광역시')
df = df.replace({'특/광/도' : '제주'}, '제주특별자치도')
df = df.replace({'특/광/도' : '울산시'}, '울산광역시')
df = df.replace({'특/광/도' : '세종'}, '세종특별자치시')
df = df.replace({'특/광/도' : '광주'}, '광주광역시')
df = df.replace({'특/광/도' : '충북'}, '충청북도')
df = df.replace({'특/광/도' : '전남'}, '전라남도')
df = df.replace({'특/광/도' : '전북'}, '전라북도')
df = df.replace({'특/광/도' : '제주도'}, '제주특별자치도')
df = df.replace({'특/광/도' : '강원'}, '강원도')
df = df.replace({'특/광/도' : '대구광역시'}, '대구광역시')
df = df.replace({'특/광/도' : '경기도'}, '경기도')
df = df.replace({'특/광/도' : '경기'}, '경기도')

In [6]:
df.head()

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호
0,산업은행,0027025,강남,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,대치동,NaN,947-3,영동대로 421,1992-08-24,02-560-0300
1,산업은행,0027054,도곡,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,도곡동,NaN,467-7,남부순환로 2803,2005-05-30,02-3498-3800
2,산업은행,0027083,반포,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,반포동,NaN,18-3,반포대로 287,2011-01-24,02-3488-8500
3,산업은행,0027041,서초,지점,기업,NaN,NaN,강남지역본부,서울특별시,서초구,서초동,NaN,1319-6,서초대로78길 5,1996-04-29,02-3488-7500
4,산업은행,0023113,압구정,지점,기업,NaN,NaN,강남지역본부,서울특별시,강남구,신사동,NaN,611,논현로 878,1986-11-12,02-3218-0900

## 대구은행

In [50]:
daegu = df.groupby(df['은행명']).get_group('대구은행')
daegu.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호
5109,대구은행,310020,본점영업부,기업영업부,NaN,NaN,,대구본부,대구광역시,수성구,NaN,NaN,2310,달구벌대로2310,1967-10-07,053-755-8760
5110,대구은행,310046,서울영업부,기업영업부,NaN,NaN,NaN,수도권본부,서울특별시,중구,NaN,NaN,29,을지로29,1972-08-17,02-777-8381
5111,대구은행,310059,대신동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,469,국채보상로469,1968-01-12,053-554-5181
5112,대구은행,310062,반월당지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2105,달구벌대로2105,1968-06-07,053-425-5815
5113,대구은행,310091,삼덕동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2195,달구벌대로2195,1970-01-16,053-424-7235
5114,대구은행,310101,봉덕동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,남구,NaN,NaN,60,대봉로60,1968-10-18,053-471-6381
5115,대구은행,310127,북성로지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,81,서성로81,1969-04-03,053-253-4083
5116,대구은행,310143,중구청지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,1,국채보상로\n139길1,1971-05-20,053-426-5063
5117,대구은행,310156,대명동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,남구,NaN,NaN,147,중앙대로147,1971-05-21,053-621-6391
5118,대구은행,310172,내당동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,서구,NaN,NaN,1,달서로1,1971-06-11,053-558-0161

In [51]:
d2 = daegu.copy()

In [52]:
# df합쳐서 주소 만들어줌
d2['주소'] = d2['특/광/도']+" "+ d2['구/시/군'] +" "+ d2['도로명']

In [53]:
d2.head()

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소
5109,대구은행,310020,본점영업부,기업영업부,NaN,NaN,,대구본부,대구광역시,수성구,NaN,NaN,2310,달구벌대로2310,1967-10-07,053-755-8760,대구광역시 수성구 달구벌대로2310
5110,대구은행,310046,서울영업부,기업영업부,NaN,NaN,NaN,수도권본부,서울특별시,중구,NaN,NaN,29,을지로29,1972-08-17,02-777-8381,서울특별시 중구 을지로29
5111,대구은행,310059,대신동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,469,국채보상로469,1968-01-12,053-554-5181,대구광역시 중구 국채보상로469
5112,대구은행,310062,반월당지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2105,달구벌대로2105,1968-06-07,053-425-5815,대구광역시 중구 달구벌대로2105
5113,대구은행,310091,삼덕동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2195,달구벌대로2195,1970-01-16,053-424-7235,대구광역시 중구 달구벌대로2195

In [65]:
## 지오코딩

final_add = []
def get_coordinate(address): # 주소를 입력받음
    result = "" 
    address = str(address)
 
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address # 카카오 api 서버스를 이용하여 접근
    rest_api_key = '키' # 사용자 api key
    header = {'Authorization': 'KakaoAK ' + rest_api_key} 

    r = requests.get(url, headers=header) 
 
    if r.status_code == 200: # 정보를 오류없이 받아왔다면
        if len(r.json()['documents']) != 0: # 길이가 0이 아니라면
            try : 
                result_address = r.json()["documents"][0]["address"]
                result = (result_address["y"],result_address["x"])  # 좌표 정보에 접근
                final_add.append(result)
            except:  # 예외처리
                result = np.nan
            
        else: # 길이가 0인경우 na처리
            result = np.nan
            final_add.append(result)
    else:
        result = "ERROR[" + str(r.status_code) + "]"
    return result # 좌표를 반환

get_coordinate('경상북도 예천군 도청대로 201 2층')

('36.5754862723048', '128.488732052806')

In [55]:
xy = []
for address in d2['주소']:
    xy.append(get_coordinate(address))

d3 = pd.DataFrame(xy, columns =['lat','long'])

In [56]:
d3.head(20)

                 lat              long
0   35.8593142668444  128.614946855347
1   37.5664884462972  126.981025044659
2   35.8708465700081  128.581962368393
3   35.8657920983937    128.5940771463
4   35.8634415494066  128.603440781663
5   35.8440377943529  128.604200652378
6   35.8740222356663  128.587416699313
7   35.8693256621114   128.60615767581
8   35.8465235411095  128.590181200639
9   35.8624466067651  128.571605625555
10  35.8809941135991  128.614622467385
11   36.036944492747  129.365482965853
12  35.8448933890959    129.2082036259
13  35.8237735295606  128.736239716258
14  35.8944083247753  128.571530110005
15  35.8596625349187  128.623658561362
16   35.854920943935  128.603705949222
17  35.8385408102947  128.560025579345
18  35.8399482959901  128.578771600676
19  35.8725355937582  128.619058632731

In [57]:
d3.isnull().sum()

lat     3
long    3
dtype: int64

In [58]:
d2.reset_index(drop=True, inplace =True)

#df병합
result = pd.concat([d2,d3], axis=1)

In [59]:
result.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소,lat,long
0,대구은행,310020,본점영업부,기업영업부,NaN,NaN,,대구본부,대구광역시,수성구,NaN,NaN,2310,달구벌대로2310,1967-10-07,053-755-8760,대구광역시 수성구 달구벌대로2310,35.8593142668444,128.614946855347
1,대구은행,310046,서울영업부,기업영업부,NaN,NaN,NaN,수도권본부,서울특별시,중구,NaN,NaN,29,을지로29,1972-08-17,02-777-8381,서울특별시 중구 을지로29,37.5664884462972,126.981025044659
2,대구은행,310059,대신동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,469,국채보상로469,1968-01-12,053-554-5181,대구광역시 중구 국채보상로469,35.8708465700081,128.581962368393
3,대구은행,310062,반월당지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2105,달구벌대로2105,1968-06-07,053-425-5815,대구광역시 중구 달구벌대로2105,35.8657920983937,128.5940771463
4,대구은행,310091,삼덕동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,2195,달구벌대로2195,1970-01-16,053-424-7235,대구광역시 중구 달구벌대로2195,35.8634415494066,128.603440781663
5,대구은행,310101,봉덕동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,남구,NaN,NaN,60,대봉로60,1968-10-18,053-471-6381,대구광역시 남구 대봉로60,35.8440377943529,128.604200652378
6,대구은행,310127,북성로지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,81,서성로81,1969-04-03,053-253-4083,대구광역시 중구 서성로81,35.8740222356663,128.587416699313
7,대구은행,310143,중구청지점,지점,NaN,NaN,NaN,대구본부,대구광역시,중구,NaN,NaN,1,국채보상로\n139길1,1971-05-20,053-426-5063,대구광역시 중구 국채보상로\n139길1,35.8693256621114,128.60615767581
8,대구은행,310156,대명동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,남구,NaN,NaN,147,중앙대로147,1971-05-21,053-621-6391,대구광역시 남구 중앙대로147,35.8465235411095,128.590181200639
9,대구은행,310172,내당동지점,지점,NaN,NaN,NaN,대구본부,대구광역시,서구,NaN,NaN,1,달서로1,1971-06-11,053-558-0161,대구광역시 서구 달서로1,35.8624466067651,128.571605625555

In [60]:
result.isnull().sum()

은행명           0
지로코드          0
점포명           0
지점/출장소        0
점포형태(대)     210
 점포형태(소)    210
모점명         137
영업본부          0
특/광/도         0
구/시/군         0
구/읍/면/동     184
말단행정구역      210
건물번호 등        0
도로명           0
개점일           0
전화번호          0
주소            0
lat           3
long          3
dtype: int64

In [61]:
result.to_csv('대구은행_geo.csv', index=False, encoding='euc-kr')

## 광주은행

In [25]:
gwangju = df.groupby(df['은행명']).get_group('광주은행')
gwangju.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호
5531,광주은행,344355,KBC써밋,지점,일반,NaN,NaN,영업2본부,광주광역시,서구,광천동,NaN,52,무진대로 919,2019-08-02,0624561370
5532,광주은행,347527,PRIMEPB센터 상무,지점,PB,NaN,NaN,WM본부,광주광역시,서구,치평동,NaN,573-1,상무누리로 55,2018-10-11,0623857791
5533,광주은행,341662,각화동,지점,일반,NaN,NaN,영업1본부,광주광역시,북구,각화동,NaN,380,동문대로 280,1990-04-26,0622642951
5534,광주은행,347022,강남,지점,일반,NaN,NaN,수도권영업본부,서울특별시,강남구,역삼동,NaN,720-2,테헤란로 234,1987-09-23,025585021
5535,광주은행,346023,강진,지점,일반,NaN,NaN,영업3본부,전라남도,강진군,강진읍,NaN,47-1,보은로 2길 35,1987-12-28,0614329311
5536,광주은행,341109,경양로,지점,일반,NaN,NaN,영업1본부,광주광역시,동구,계림동,NaN,100-11,중앙로 358,1974-08-09,0625235910
5537,광주은행,341031,계림,지점,일반,NaN,NaN,영업1본부,광주광역시,동구,동명동,NaN,241,중앙로 240,1968-12-27,0622271236
5538,광주은행,346308,고흥,지점,일반,NaN,NaN,영업1본부,전라남도,고흥군,고흥읍,NaN,642-5,고흥로 1762,1989-06-28,0618347501
5539,광주은행,342454,광교,지점,일반,NaN,NaN,수도권영업본부,경기도,용인시 수지구,상현동,NaN,1131-6,광교중앙로 304,2016-09-30,0312170201
5540,광주은행,341549,광산구청,지점,일반,NaN,NaN,영업3본부,광주광역시,광산구,송정동,NaN,833-8,광산로29번길 15,2020-01-02,0624520022

In [26]:
g2 = gwangju.copy()

In [27]:
# df합쳐서 주소 만들어줌
g2['주소'] = g2['특/광/도']+" "+ g2['구/시/군'] +" "+ g2['도로명']

In [29]:
g2.head()

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소
5531,광주은행,344355,KBC써밋,지점,일반,NaN,NaN,영업2본부,광주광역시,서구,광천동,NaN,52,무진대로 919,2019-08-02,0624561370,광주광역시 서구 무진대로 919
5532,광주은행,347527,PRIMEPB센터 상무,지점,PB,NaN,NaN,WM본부,광주광역시,서구,치평동,NaN,573-1,상무누리로 55,2018-10-11,0623857791,광주광역시 서구 상무누리로 55
5533,광주은행,341662,각화동,지점,일반,NaN,NaN,영업1본부,광주광역시,북구,각화동,NaN,380,동문대로 280,1990-04-26,0622642951,광주광역시 북구 동문대로 280
5534,광주은행,347022,강남,지점,일반,NaN,NaN,수도권영업본부,서울특별시,강남구,역삼동,NaN,720-2,테헤란로 234,1987-09-23,025585021,서울특별시 강남구 테헤란로 234
5535,광주은행,346023,강진,지점,일반,NaN,NaN,영업3본부,전라남도,강진군,강진읍,NaN,47-1,보은로 2길 35,1987-12-28,0614329311,전라남도 강진군 보은로 2길 35

In [30]:
xy = []
for address in g2['주소']:
    xy.append(get_coordinate(address))

g3 = pd.DataFrame(xy, columns =['lat','long'])

In [31]:
g3.head(20)

                 lat              long
0   35.1623875614981  126.880518807067
1   35.1475517828744  126.838106380955
2   35.1861104036969  126.933507536839
3   37.5019526807087  127.041887563067
4   34.6397076692269    126.7697604377
5   35.1635918858216  126.920218313556
6   35.1531455766325  126.919669236137
7    34.607381157709  127.286897066236
8   37.2971016045238  127.069593399016
9   35.1396474365046   126.79364427408
10  34.9744394712701  127.587155192376
11  35.1600994105234  126.851461925213
12   37.443568918139  126.702068268596
13   35.150777828135  126.914837630864
14  35.1446375629271  126.856843520071
15  37.5375121901099  127.139588829365
16  35.0323055083589  126.719852852514
17  34.9413995262374  127.509300665194
18  34.8091663920919    126.4663815934
19  37.5117737805731  127.020539169585

In [32]:
g3.isnull().sum()

lat     1
long    1
dtype: int64

In [33]:
g2.reset_index(drop=True, inplace=True)

In [34]:
# df병합
result = pd.concat([g2,g3],axis=1)

In [35]:
result.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소,lat,long
0,광주은행,344355,KBC써밋,지점,일반,NaN,NaN,영업2본부,광주광역시,서구,광천동,NaN,52,무진대로 919,2019-08-02,0624561370,광주광역시 서구 무진대로 919,35.1623875614981,126.880518807067
1,광주은행,347527,PRIMEPB센터 상무,지점,PB,NaN,NaN,WM본부,광주광역시,서구,치평동,NaN,573-1,상무누리로 55,2018-10-11,0623857791,광주광역시 서구 상무누리로 55,35.1475517828744,126.838106380955
2,광주은행,341662,각화동,지점,일반,NaN,NaN,영업1본부,광주광역시,북구,각화동,NaN,380,동문대로 280,1990-04-26,0622642951,광주광역시 북구 동문대로 280,35.1861104036969,126.933507536839
3,광주은행,347022,강남,지점,일반,NaN,NaN,수도권영업본부,서울특별시,강남구,역삼동,NaN,720-2,테헤란로 234,1987-09-23,025585021,서울특별시 강남구 테헤란로 234,37.5019526807087,127.041887563067
4,광주은행,346023,강진,지점,일반,NaN,NaN,영업3본부,전라남도,강진군,강진읍,NaN,47-1,보은로 2길 35,1987-12-28,0614329311,전라남도 강진군 보은로 2길 35,34.6397076692269,126.7697604377
5,광주은행,341109,경양로,지점,일반,NaN,NaN,영업1본부,광주광역시,동구,계림동,NaN,100-11,중앙로 358,1974-08-09,0625235910,광주광역시 동구 중앙로 358,35.1635918858216,126.920218313556
6,광주은행,341031,계림,지점,일반,NaN,NaN,영업1본부,광주광역시,동구,동명동,NaN,241,중앙로 240,1968-12-27,0622271236,광주광역시 동구 중앙로 240,35.1531455766325,126.919669236137
7,광주은행,346308,고흥,지점,일반,NaN,NaN,영업1본부,전라남도,고흥군,고흥읍,NaN,642-5,고흥로 1762,1989-06-28,0618347501,전라남도 고흥군 고흥로 1762,34.607381157709,127.286897066236
8,광주은행,342454,광교,지점,일반,NaN,NaN,수도권영업본부,경기도,용인시 수지구,상현동,NaN,1131-6,광교중앙로 304,2016-09-30,0312170201,경기도 용인시 수지구 광교중앙로 304,37.2971016045238,127.069593399016
9,광주은행,341549,광산구청,지점,일반,NaN,NaN,영업3본부,광주광역시,광산구,송정동,NaN,833-8,광산로29번길 15,2020-01-02,0624520022,광주광역시 광산구 광산로29번길 15,35.1396474365046,126.79364427408

In [36]:
result.isnull().sum()

은행명           0
지로코드          0
점포명           0
지점/출장소        0
점포형태(대)       0
 점포형태(소)    140
모점명         133
영업본부          0
특/광/도         0
구/시/군         0
구/읍/면/동       0
말단행정구역      140
건물번호 등        0
도로명           0
개점일           0
전화번호          0
주소            0
lat           1
long          1
dtype: int64

In [37]:
result.to_csv('광주은행_geo.csv', index=False, encoding='euc-kr')

## 제주은행

In [38]:
jeju = df.groupby(df['은행명']).get_group('제주은행')
jeju.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호
5671,제주은행,355014,영업부,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1349-17,오현길 90,1969-09-19,(064)7200200
5672,제주은행,350475,제주대학교병원,출장소,기타,NaN,영업부,해당사항없음,제주특별자치도,제주시,아라1동,NaN,1753-3,아란13길 15,2009-03-27,(064)7172795
5673,제주은행,355072,남문,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1289-6,중앙로 177,1971-10-12,(064)7224611
5674,제주은행,355098,연동,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,273-3,신광로 49,1981-12-28,(064)7466197
5675,제주은행,355085,신제주,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,301-14,신대로 69,1980-09-09,(064)7462196
5676,제주은행,355056,공항,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,용담2동,NaN,2002,공항로 2,1977-10-05,(064)7460607
5677,제주은행,355108,서광로,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,용담1동,NaN,2829-14 아세아빌딩,서광로 175,1988-10-21,(064)7527201
5678,제주은행,355111,제주시청,출장소,기타,NaN,제주특별자치도,해당사항없음,제주특별자치도,제주시,이도2동,NaN,1176-1,광양9길 10,1989-06-01,(064)7557174
5679,제주은행,355124,이도,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도2동,NaN,2006-3,중앙로 352,1993-02-15,(064)7538531
5680,제주은행,355182,노형,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,노형동,NaN,1296-3,도령로 11,1993-05-04,(064)7442111

In [39]:
j2 = jeju.copy()

In [40]:
# df합쳐서 주소 만들어줌
j2['주소'] = j2['특/광/도']+ " "+ j2['구/시/군'] +" "+ j2['도로명']
j2.head()

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소
5671,제주은행,355014,영업부,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1349-17,오현길 90,1969-09-19,(064)7200200,제주특별자치도 제주시 오현길 90
5672,제주은행,350475,제주대학교병원,출장소,기타,NaN,영업부,해당사항없음,제주특별자치도,제주시,아라1동,NaN,1753-3,아란13길 15,2009-03-27,(064)7172795,제주특별자치도 제주시 아란13길 15
5673,제주은행,355072,남문,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1289-6,중앙로 177,1971-10-12,(064)7224611,제주특별자치도 제주시 중앙로 177
5674,제주은행,355098,연동,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,273-3,신광로 49,1981-12-28,(064)7466197,제주특별자치도 제주시 신광로 49
5675,제주은행,355085,신제주,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,301-14,신대로 69,1980-09-09,(064)7462196,제주특별자치도 제주시 신대로 69

In [41]:
xy = []
for address in j2['주소']:
    xy.append(get_coordinate(address))

j3 = pd.DataFrame(xy, columns =['lat','long'])

In [42]:
j3.head(20)

                 lat              long
0   33.5127652018243   126.52558559436
1   33.4672085209581  126.545201028535
2    33.503361572363  126.527463956027
3   33.4876279516743  126.490287340493
4   33.4910870188357  126.496977572471
5   33.5059364682672  126.495951277797
6   33.5003180347391  126.515202972713
7   33.5002142104177  126.532217532238
8   33.4901540052416  126.537513507677
9   33.4870655297175  126.480536158397
10  33.5198327989352  126.570960870211
11  33.2481526352928  126.563475438363
12  33.2520642769465  126.423717255919
13  33.2412896364104  126.424442899565
14  33.2536577124182  126.561832909434
15  33.2542036297813  126.560218236924
16  33.2799432633405  126.721370202571
17  33.4856338763067   126.47216806603
18  33.4147622444457  126.264359849548
19  33.2219086529322  126.253652716207

In [43]:
j3.isnull().sum()

lat     0
long    0
dtype: int64

In [44]:
j2.reset_index(drop=True, inplace=True)

In [45]:
# df병합
result = pd.concat([j2,j3], axis=1)

In [46]:
result.head(10)

,은행명,지로코드,점포명,지점/출장소,점포형태(대),점포형태(소),모점명,영업본부,특/광/도,구/시/군,구/읍/면/동,말단행정구역,건물번호 등,도로명,개점일,전화번호,주소,lat,long
0,제주은행,355014,영업부,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1349-17,오현길 90,1969-09-19,(064)7200200,제주특별자치도 제주시 오현길 90,33.5127652018243,126.52558559436
1,제주은행,350475,제주대학교병원,출장소,기타,NaN,영업부,해당사항없음,제주특별자치도,제주시,아라1동,NaN,1753-3,아란13길 15,2009-03-27,(064)7172795,제주특별자치도 제주시 아란13길 15,33.4672085209581,126.545201028535
2,제주은행,355072,남문,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도1동,NaN,1289-6,중앙로 177,1971-10-12,(064)7224611,제주특별자치도 제주시 중앙로 177,33.503361572363,126.527463956027
3,제주은행,355098,연동,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,273-3,신광로 49,1981-12-28,(064)7466197,제주특별자치도 제주시 신광로 49,33.4876279516743,126.490287340493
4,제주은행,355085,신제주,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,연동,NaN,301-14,신대로 69,1980-09-09,(064)7462196,제주특별자치도 제주시 신대로 69,33.4910870188357,126.496977572471
5,제주은행,355056,공항,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,용담2동,NaN,2002,공항로 2,1977-10-05,(064)7460607,제주특별자치도 제주시 공항로 2,33.5059364682672,126.495951277797
6,제주은행,355108,서광로,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,용담1동,NaN,2829-14 아세아빌딩,서광로 175,1988-10-21,(064)7527201,제주특별자치도 제주시 서광로 175,33.5003180347391,126.515202972713
7,제주은행,355111,제주시청,출장소,기타,NaN,제주특별자치도,해당사항없음,제주특별자치도,제주시,이도2동,NaN,1176-1,광양9길 10,1989-06-01,(064)7557174,제주특별자치도 제주시 광양9길 10,33.5002142104177,126.532217532238
8,제주은행,355124,이도,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,이도2동,NaN,2006-3,중앙로 352,1993-02-15,(064)7538531,제주특별자치도 제주시 중앙로 352,33.4901540052416,126.537513507677
9,제주은행,355182,노형,지점,기타,NaN,NaN,해당사항없음,제주특별자치도,제주시,노형동,NaN,1296-3,도령로 11,1993-05-04,(064)7442111,제주특별자치도 제주시 도령로 11,33.4870655297175,126.480536158397

In [47]:
result.isnull().sum()

은행명          0
지로코드         0
점포명          0
지점/출장소       0
점포형태(대)      0
 점포형태(소)    31
모점명         25
영업본부         0
특/광/도        0
구/시/군        0
구/읍/면/동      0
말단행정구역      26
건물번호 등       0
도로명          0
개점일          0
전화번호         0
주소           0
lat          0
long         0
dtype: int64

In [48]:
result.to_csv('제주은행_geo.csv',index=False, encoding='euc=kr')